<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <nav>
        <div class="nav-left"></div>
        <div class="nav-center">
            <ul>
                <li>
                    <a href="index.html">Services</a>
                    <ul>
                        <a href="">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                        <a href="">4</a> <!--treba se povedat katere service-->
                    </ul>
                </li>
                
                <li>
                    <a href="dela.html">More</a>
                    <ul>
                        <a href="">About us</a>
                        <a href="">Support</a>
                        <a href="">Privacy</a>
                        <a href="">Terms of Service</a>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
        <div class="nav-right">
            <a href="#" class="nav-button free-hosting">Free Hosting</a>
            <a href="#" class="nav-button paid-hosting">Paid Hosting</a>
        </div>
    </nav>
    
</body>
</html>
