@import url('root.css');

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: --text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}
h1 {
    font-size: 4em;
    color: #e74c3c;
}
p {
    font-size: 1.2em;
    margin-top: 10px;
}
a {
    color: var(--button-color);
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}