/* Color Variables */
@import url('root.css');

/* Forms */
.container {
  display: flex;
  justify-content: center;
  margin-top: 50px; /* več prostora na vrhu */
}

.form-container {
  background-color: white;
  padding: 30px; /* več notranjega prostora */
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

h2 {
  text-align: center;
  margin-bottom: 25px; /* več prostora pod naslovom */
}

label {
  font-size: 15px;
  margin-bottom: 8px; /* več prostora pod labelami */
  display: block;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px; /* več prostora med inputi */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px; /* več prostora nad gumbom */
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover);
}

p {
  text-align: center;
  margin-top: 15px; /* več prostora nad besedilom */
}

a {
  color: var(--primary-color);
  text-decoration: none;
}



/* Hide the Register Form initially */
.register-form {
  display: none;
}
