/* Color Variables */
@import url('root.css');

/* ============ NAVIGATION ============ */
nav {
    width: 100%;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li {
    position: relative;
}

/* Stil za menijske gumbe */
.nav-menu {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: var(--font-weight);
    color: var(--tertiary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.nav-menu:hover {
    background-color: #1e49b1;
    transform: translateY(-2px);
}

.nav-menu:active {
    transform: translateY(1px);
}

/* Podmeni ostane enak */
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--tertiary-color);
    border: 1px solid var(--border-color);
    padding: 10px 0;
    margin: 0;
    box-shadow: var(--shadow);
    border-radius: 5px;
    z-index: 1000;
    white-space: nowrap;
}

nav ul li:hover > ul {
    display: block;
}

/* Stil za desne gumbe */
.nav-right {
    display: flex;
    gap: 10px;
}

/* Stil za posebne gumbe (Free/Paid Hosting) */
.nav-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: var(--font-weight);
    color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.nav-button.free-hosting {
    background-color: var(--button-2-color);
}

.nav-button.paid-hosting {
    background-color: var(--button-color);
}

.nav-button.service{
    background-color: var(--tertiary-color);

}

.nav-button.more{
    color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
}

.nav-button:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow);
}
