/* Color Variables */
:root {
    --primary-color: #3498db;
    --secondary-color: #fff ; /* #2ecc71 */
    --background-color: #f4f4f4;
    --text-color: #333;
    --button-color: #3498db;
    --button-hover: #2980b9;
    --navbar-bg: #2c3e50;
    --tertiary-color: #fff;
  }

/* ============ NAVIGATION ============ */
nav {
    width: 100%;
    background-color: var(--tertiary-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li {
    position: relative;
}

/* Stil za menijske gumbe */
.nav-menu {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: var(--font-weight);
    color: var(--tertiary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.nav-menu:hover {
    background-color: #1e49b1;
    transform: translateY(-2px);
}

.nav-menu:active {
    transform: translateY(1px);
}

/* Podmeni ostane enak */
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--tertiary-color);
    border: 1px solid var(--border-color);
    padding: 10px 0;
    margin: 0;
    box-shadow: var(--shadow);
    border-radius: 5px;
    z-index: 1000;
    white-space: nowrap;
}

nav ul li:hover > ul {
    display: block;
}

/* Stil za desne gumbe */
.nav-right {
    display: flex;
    gap: 10px;
}

/* Stil za posebne gumbe (Free/Paid Hosting) */
.nav-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: var(--font-weight);
    color: var(--tertiary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.nav-button.free-hosting {
    background-color: #8e44ad;
}

.nav-button.paid-hosting {
    background-color: #3498db;
}

.nav-button.service{
    background-color: #2b63b6;

}

.nav-button.more{
    color: #2b63b6;
    border: 2px solid #2b63b6;
}

.nav-button:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow);
}
