:root {
    --primary-color: #2b63b6;
    --secondary-color: #f7f8fa;
    --tertiary-color: #ffffff;
    --hover-bg: #f0f0f0;
    --border-color: #ddd;
    --text-color: #333;
    --light-text-color: #666;
    --font-weight:700;
}

body {
    font-family: 'Poppins', sans-serif; /* Dodana pisava za bolj debelo besedilo */
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    font-weight: 700; /* Debelejša pisava za naslove */
}

/* Main */

.dashboard-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-container h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 700; /* Debelejša pisava za podnaslove */
    color: var(--primary-color);
    margin-bottom: 20px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.dashboard-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-item h3 {
    margin-bottom: 10px;
    color: var(--text-color);
    font-weight: 700; /* Debelejša pisava za naslove v vsebini */
}

.dashboard-item p {
    color: var(--light-text-color);
    font-size: 1.1em;
}
