<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Dashboard</title>
    <! -- !!!Tailwind CSS CDN by ChatGPT!!! -->
      <!-- Tailwind CSS from CDN -->
      <script src="https://cdn.tailwindcss.com"></script>

      <!-- Alpine JS for functionality -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.13.3/cdn.min.js" defer></script>
</head>
<body class="bg-gray-100 h-screen flex">
    <!-- Left Sidebar Navigation -->
    <nav class="bg-gray-800 text-white w-64 flex-shrink-0 flex flex-col">
        <div class="p-4 border-b border-gray-700">
            <h2 class="text-xl font-bold">Dashboard</h2>
        </div>
        <div class="flex-grow">
            <ul class="py-4">
                <li class="px-4 py-3 bg-gray-700 cursor-pointer flex items-center">
                    <svg class="w-5 h-5 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V7m-6 0V4a2 2 0 00-2-2H9a2 2 0 00-2 2v3m6 0h6"></path>
                    </svg>
                    <a href="{{ url_for('cpanel') }}">Dashboard</a>
                <li class="px-4 py-3 hover:bg-gray-700 cursor-pointer flex items-center">
                    <svg class="w-5 h-5 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01"></path>
                    </svg>
                    <a href="#">Servers</a><!--dropdown-->
                </li>
                <!--<li class="px-4 py-3 hover:bg-gray-700 cursor-pointer flex items-center">
                    <svg class="w-5 h-5 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    </svg>
                    <a href="#">Settings</a>
                </li>-->
            </ul>
        </div>
        <div class="p-4 border-t border-gray-700">
            <div class="flex items-center">
                <div class="w-8 h-8 rounded-full bg-gray-500 mr-3"></div>
                <div>
                    <p class="text-sm font-medium">Admin User</p>
                    <p class="text-xs text-gray-400">admin@example.com</p>
                </div>
            </div>
        </div>
    </nav>

            <!-- Main Content Area -->
            <main class="flex-grow p-6 overflow-auto">
            {% if servers|length == 0 %}
                  <!-- Server Section (Empty for now, to be filled by user) -->
                  <div class="bg-white shadow rounded-lg p-6 mb-6">
                      <h2 class="text-xl font-semibold text-gray-800 mb-4">Servers</h2>
                      <p class="text-gray-500">This section is for your server data. Add your servers here.</p>

                      <!-- Empty server list placeholder -->
                      <div class="border-2 border-dashed border-gray-300 rounded-lg p-8 mt-4 text-center">

                          <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01"></path>
                          </svg>
                          <h3 class="mt-2 text-sm font-medium text-gray-900">No servers added</h3>
                          <p class="mt-1 text-sm text-gray-500">Get started by adding your first server.</p>
                          <div class="mt-6">
                              <button type="button" onclick="window.location.href='{{ url_for('create_server') }}'" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                  <svg class="-ml-1 mr-2 h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                  </svg>
                                  Add Server
                              </button>
                          </div>
                      </div>
                  </div>


            {% else %}

                    <!-- Server Section with 3 Servers  !!TEMP!! -->
                    <div class="bg-white shadow rounded-lg p-6 mb-6">
                        <div class="flex justify-between items-center mb-6">
                            <h2 class="text-xl font-semibold text-gray-800">Servers</h2>
                            <button onclick="window.location.href='{{ url_for('create_server') }}'" class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 flex items-center">
                                <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                </svg>
                                Add Server
                            </button>
                        </div>

                        <!-- Server List -->
                        <div class="overflow-x-auto">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Status
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Server Name
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            IP Address
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Type
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            CPU
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Memory
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Disk
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200">
                                    {% for server in servers %}
                                    <!-- Server 1 -->
                                        <tr onclick="window.location.href='{{ url_for('console', container_id=server.container_id) }}'" style="cursor: pointer;">
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                {% if server.status == 'running' %}
                                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                                        Online
                                                    </span>
                                                {% elif server.status == 'exited' or server.status == 'stopped' %}
                                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                                                        Offline
                                                    </span>
                                                {% else %}
                                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                                                        Unknown
                                                    </span>
                                                {% endif %}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm font-medium text-gray-900">{{ server.name }}</div>
                                                <div class="text-sm text-gray-500">{{ server.description.title() }}</div>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                              {{ server.ip }}:{{ server.port }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                {{ server.nest.title() }} - {{ server.egg.title() }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="flex items-center">
                                                    <div class="w-16 bg-gray-200 rounded-full h-2 mr-2">
                                                        <div id="cpu_usage_bar" class="bg-blue-600 h-2 rounded-full" style="width: 100%"></div>
                                                    </div>
                                                    <span id="cpu_usage_text" class="text-sm text-gray-700">100%</span>
                                                </div>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="flex items-center">
                                                    <div class="w-16 bg-gray-200 rounded-full h-2 mr-2">
                                                        <div class="bg-green-500 h-2 rounded-full" style="width: 100%"></div>
                                                    </div>
                                                    <span class="text-sm text-gray-700">100%</span>
                                                </div>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="flex items-center">
                                                    <div class="w-16 bg-gray-200 rounded-full h-2 mr-2">
                                                        <div class="bg-yellow-500 h-2 rounded-full" style="width: 100%"></div>
                                                    </div>
                                                    <span class="text-sm text-gray-700">100%</span>
                                                </div>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                                                <a class="stop" href="{{ url_for('stop_server', container_id=server.container_id) }}"><button class="text-indigo-600 hover:text-indigo-900 mr-3">Stop</button></a>
                                                <a class="stop" href="{{ url_for('console', container_id=server.container_id) }}"><button class="text-gray-600 hover:text-gray-900 mr-3">Edit</button></a>
                                                <a class="stop" href="{{ url_for('delete_server', container_id=server.container_id) }}"><button class="text-red-600 hover:text-red-900">Delete</button></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </main>
    </div>
</body>
</html>