<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
    <nav>
        <div class="nav-left"></div>
        <div class="nav-center">
            <ul>
                <li>
                    <a href="index.html">Services</a>
                    <ul>
                        <a href="">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                        <a href="">4</a> <!--treba se povedat katere service-->
                    </ul>
                </li>

                <li>
                    <a href="dela.html">More</a>
                    <ul>
                        <a href="">About us</a>
                        <a href="">Support</a>
                        <a href="">Privacy</a>
                        <a href="">Terms of Service</a>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
        <div class="nav-right">
            <a href="#" class="nav-button free-hosting">Free Hosting</a>
            <a href="#" class="nav-button paid-hosting">Paid Hosting</a>
        </div>
    </nav>
    <section>
        <div class="hamburger">
            <ul class="hamburger-menu">
                <li class="hamburger-item"><a href="" class="hamburger-link">Dashboard</a></li>
                <li class="hamburger-item"><a href="" class="hamburger-link">Console</a></li>
                <li class="hamburger-item"><a href="" class="hamburger-link">Link 3</a></li>
                <li class="hamburger-item"><a href="" class="hamburger-link">Link 4</a></li>
                <li class="hamburger-item"><a href="" class="hamburger-link">Link 5</a></li>
                <li class="hamburger-item"><a href="" class="hamburger-link">Link 6</a></li>
                <li class="hamburger-item"><a href="" class="hamburger-link">Link 7</a></li>
                <li class="hamburger-item"><a href="" class="hamburger-link">Link 8</a></li>
                <li class="hamburger-item"><a href="" class="hamburger-link">Link 9</a></li>
                <li class="hamburger-item"><a href="" class="hamburger-link">Link 10</a></li>
                <li class="hamburger-item"><a href="" class="hamburger-link">Link 11</a></li>
                <li class="hamburger-item"><a href="" class="hamburger-link">Link 12</a></li>
            </ul>
        </div>
    </section>
</body>
</html>