{% extends 'cpanel/base.html' %}

{% block title %}
  Create Server
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Create Server</h1>
    <form id="create-server-form" action="{{ url_for('create_server') }}" method="POST">
      <label for="server-name">Server Name:</label>
      <input type="text" id="server-name" name="server_name" required>
      <label for="server-template">Server Template:</label>
      <select id="server-template" name="server_template" required>
        {% for template in templates %}
          <option value="{{ template }}">{{ template }}</option>
        {% endfor %}
      </select>
      <button type="submit">Create Server</button>
    </form>
  </div>

  <!-- <script src="{{ url_for('static', filename='js/create_server.js') }}"></script> -->
{% endblock %}